#root {
  text-align: center;
}

.Products{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.Products-list{
  padding: 4rem;
  border: solid black;
  width: 100px;
  height: 100px;
}

